body {
  background-color: black;
}
.div-tablero-info-control {
  position: fixed;
  background-color: black;
  top: 2%;
  right: 2%;
  width: 350px;
  height: 70px;
}
.div-p-text-control {
  color: white;
  font-weight: bold;
  text-align: center;
}

/* Partes del tablero para mostrar la informacion del viaje */

.div-tablero-info-control-distancia-recorrida {
  position: fixed;
  background-color: black;
  top: 2%;
  right: 87%;
  font-size: 15px;
  width: 150px;
  height: 60px;
}

.div-tablero-info-control-velocidad-actual {
  position: fixed;
  background-color: black;
  top: 2%;
  right: 75%;
  font-size: 15px;
  width: 150px;
  height: 60px;
}

.div-tablero-info-control-tiempo-transcurrido-viaje {
  position: fixed;
  background-color: black;
  top: 2%;
  right: 63%;
  font-size: 15px;
  width: 150px;
  height: 60px;
}


/* Fin partes del tablero */

.img-tablero-images {
  position: fixed;
  width: 99%;
  height: 98%;
}
.group-button-1 {
  display: scroll;
  position: fixed;
  bottom: 40%;
  right: 48%;
  background-color: red;
  border-radius: 100%;
  border: 0px;
  height: 80px;
  width: 80px;
  color: white;
  font-weight: bold;
  font-size: 170%;
}

.group-button-2 {
  display: scroll;
  position: fixed;
  bottom: 68%;
  right: 50%;
  background-color: red;
  border-radius: 100%;
  border: 0px;
}

.img-button2 {
  width: 100px;
  height: 100px;
}

.group-button-3 {
  display: scroll;
  position: fixed;
  bottom: 68%;
  right: 90%;
  background-color: red;
  border-radius: 100%;
  border: 0px;
}

.img-button3 {
  width: 100px;
  height: 100px;
}

.group-button-4 {
  display: scroll;
  position: fixed;
  bottom: 2%;
  right: 50%;
  background-color: red;
  border-radius: 100%;
  border: 0px;
}
.img-button4 {
  width: 100px;
  height: 100px;
}
.group-button-5 {
  display: scroll;
  position: fixed;
  bottom: 2%;
  background-color: red;
  right: 63%;
  border-radius: 100%;
  border: 0px;
  padding-top: 5px;
}
.img-button5 {
  height: 100px;
  width: 100px;
}

.group-button-6 {
  display: scroll;
  position: fixed;
  bottom: 1%;
  right: 35%;
  background-color: red;
  border-radius: 100%;
  border: 0px;
}

.img-button6 {
  width: 100px;
  height: 100px;
}

.group-button-7 {
  display: scroll;
  position: fixed;
  bottom: 75%;
  right: 23%;
  background-color: red;
  border-radius: 100%;
  border: 0px;
}
.img-button7 {
  width: 60px;
  height: 60px;
}

.group-button-8 {
  display: scroll;
  position: fixed;
  bottom: 1%;
  right: 78%;
  background-color: red;
  border-radius: 100%;
  border: 0px;
}

.img-button8 {
  width: 100px;
  height: 110px;
}

.group-button-9 {
  display: scroll;
  position: fixed;
  bottom: 65%;
  right: 65%;
  border-radius: 100%;
  background-color: transparent;
  border: 0px;
}
.img-button9 {
  width: 60px;
  height: 60px;
}

.group-button-10 {
  display: scroll;
  position: fixed;
  bottom: 65%;
  right: 71%;
  background-color: transparent;
  border-radius: 100%;
  border: 0px;
}

.img-button10 {
  width: 60px;
  height: 60px;
}

/* ESTOS SON LOS BOTONES EN AMARILLO */
.group-button-derecha-amarillo {
  display: scroll;
  position: fixed;
  bottom: 65%;
  right: 65%;
  border-radius: 100%;
  animation: alerta 1.5s linear 100ms infinite;
  background-color: yellow;
  display: none;
  border: 0px;
}

.group-button-izquierda-amarillo {
  display: scroll;
  position: fixed;
  bottom: 65%;
  right: 71%;
  animation: alerta 1.5s linear 100ms infinite;
  background-color: yellow;
  display: none;
  border-radius: 100%;
  border: 0px;
}


/* ANIMACIONES */
@-webkit-keyframes alerta {
  from {opacity: 0;}
  25% {opacity: 1;}
  75% {opacity: 1;}
  to {opacity: 0;}
} 

@keyframes alerta {
  from {opacity: 0;}
  25% {opacity: 1;}
  75% {opacity: 1;}
  to {opacity: 0;}
}




/* BOTONES DE LA CAJA DE CAMBIOS */
.cambios-box-div {
  position: fixed;
  bottom: 31.5%;
  right: 20.2%;
  width: 150px;
  height: 150px;
  background-color: black;
  border-radius: 100%;
  opacity: 0.8;
}
.group-cambios-N {
  position: fixed;
  background-color: red;
  border-radius: 100%;
  border: solid 0px;
  bottom: 45%;
  right: 28%;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: white;
  font-size: 100%;
}
.group-cambios-1 {
  position: fixed;
  background-color: red;
  border-radius: 100%;
  border: solid 0px;
  bottom: 45%;
  right: 25%;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: white;
  font-size: 100%;
}
.group-cambios-2 {
  position: fixed;
  background-color: red;
  border-radius: 100%;
  border: solid 0px;
  bottom: 45%;
  right: 22%;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: white;
  font-size: 100%;
}

.group-cambios-3 {
  position: fixed;
  background-color: red;
  border-radius: 100%;
  border: solid 0px;
  bottom: 38%;
  right: 28%;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: white;
  font-size: 100%;
}
.group-cambios-4 {
  position: fixed;
  background-color: red;
  border-radius: 100%;
  border: solid 0px;
  bottom: 38%;
  right: 25%;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: white;
  font-size: 100%;
}
.group-cambios-R {
  position: fixed;
  background-color: red;
  border-radius: 100%;
  border: solid 0px;
  bottom: 38%;
  right: 22%;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: white;
  font-size: 100%;
}

/* Alerta al finalizar el trayecto */
.div-stop-fin-trayecto{
  position: fixed;
  width: 99%;
  height: 98%;
  z-index: 1000;
  display: none;
  background-color: rgba(0, 0, 0, 0.973);
}
.p-stop-fin-trayecto{
  color: white;
  z-index: 1000;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.img-stop-fin-trayecto{
  height: 400px;
  z-index: 1000;
  width: 400px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}